@media (min-width: 960px) {
	body {
		background-color: #999999;
		margin-bottom: 0;
	}

	#page-container {
		background-color: #DFDFDF;
		width: 1150px;
		color: white;
		padding: 12px 12px 0 12px;
	}
}