@media (min-width: 2px) {
	@media (min-width: 1px) {
		@supports (--a: b) {
			@supports (display: flex) {
				body {
					background-color: #999999;
					margin-bottom: 0;
				}

				#page-container {
					background-color: #DFDFDF;
					width: 1150px;
					color: white;
					padding: 12px 12px 0 12px;
				}
			}
		}
	}
}