@charset "utf-8";

/* Mobile Phones */
@media (max-width: 959px) {
	#header, #topbar, #featured_slide, #homecontent, #breadcrumb, #container, #footer, #copyright{width:600px;}
	
	.wrapper{width:560px;}
	#topbar .wrapper{width:580px;}
	
	#content{width:560px;}
	
	#copyright .copyright {padding-bottom:5px;}
	#copyright .template_by{}
	
	input[type='checkbox'], input[type='radio'] {
		zoom:1.5; /*chrome*/
		-moz-transform: scale(1.5); /*firefox*/
	}
	
	input[type='text'] {height:1.5em;}
	input[type='password'] {height:1.5em;}
	select {height:2em;}
	
	#codeigniter_profiler{display:none !important;}
}
/* PC */
@media (min-width: 960px) {
	#header, #topbar, #featured_slide, #homecontent, #breadcrumb, #container, #footer, #copyright{width:960px;}
	
	.wrapper{width:920px;}
	#topbar .wrapper{width:940px;}
	
	#content{width:580px;}
	
	#copyright .copyright {float:left;}
	#copyright .template_by{float:right;}
}

#header, #topbar, #featured_slide, #homecontent, #breadcrumb, #container, #footer, #copyright{display:block; margin:0 auto;}

.wrapper{display:block; padding:15px 10px; color:#666666; background-color:#FFFFFF; border-left:10px solid #DFDFDF; border-right:10px solid #DFDFDF;}